@import "../../styles/root.scss";

#id-home {
    background-color: $color-blue_second;
    .wrap-welcom {
        padding-top: 64px;
        padding-bottom: 64px;
        .title1 {
            
        }
    }
    .part {
        margin-bottom: 12px;
        margin-top: 42px;
    }
    .title2 {
        margin: 12px 0;
        font-size: 26px;
        font-weight: 700;
        color: $color-blue_global;
    }
    .wrap-cards {
        // margin-bottom: 42px;
    }
    .link-chart {
        display: flex;
        align-items: center;
        border-radius: 24px;
        border: solid 1px $color-blue_global;
        background-color: $color-blue_second;
        margin-left: 12px;
        padding: 2px 8px;
        text-decoration: none;
        color: $color-blue_global;
        &:hover {
            background-color: $color-blue_global;
            color: #fff; 
        }
    }
    .text-chart {
        font-size: 13px;
        font-weight: 600;
    }
    .view-all {
        padding: 12px 0;
        a, a b{
            color: $color-blue_global;
            font-weight: 400;
            font-size: 16px;
        }
    }
    .exam-bottom {
        width: 100%;
        background-color: #fff;
        .title {
            text-align: center;
            padding-top: 36px;
            font-size: 32px;
        }
    }
    @media screen and (max-width: 780px) {
        .title2 {
            font-size: 18px;
        }
        .exam-bottom{
            .title {
                font-size: 24px;
            }
        }
    }
    
}