#result-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    .result-table {
      margin-top: 20px;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
    
      td {
        vertical-align: middle;
      }
    }
    .correct-answers {
      font-size: 24px;
      font-weight: bold;
    
      h3 {
        font-size: 28px;
      }
    }
    
    button {
      width: 100%;
    }
  }
  
  
  
  
  