@import "../../styles/root.scss";

    a {
        color: $color-black;
        text-decoration: none;
    }
    .site-content-wrapper, #list-exams-wrapper{
        position: relative;
        
        .content-header{
            background-color: $color-blue_four;

            .user-target-info-box{
                display: flex;
                flex-direction: column;
                background-color: #fff;
                padding: 1.5rem 1rem;
                border: 1px solid #efefef;
                box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
                border-radius: .65rem;
                align-items: center;
                justify-content: center;
            }
            .test-book {
                padding: 5px;
                border-radius: 2px;
                border: 1px solid #dbdbdb;
                text-align: center;
                font-size: 14px;
                color: $color-black;
                margin-right: .65rem;
                cursor: pointer;
                background-color: #fff;
                white-space: nowrap;
            }
            .nav-link{
                color: $color-black;
            }
            
            
        }
        .content-wrapper{

            .card-item-content{
                color: $color-gray;
                font-size: $fs-14;

                .wrap{
                    display: inline-block;
                }
            }
        }
    }


