@import "../../styles/root.scss";

#question {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    .wrap-number {
        height: 40px;
        width: 40px;
        margin-right: 12px;
        .number {
            padding: 12px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-blue_global;
            background-color: $color-blue_second;
        }
    }
    .content {
        .content-question {
            margin-bottom: 24px;
        }
    }

}